<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID">
    <!-- 声明WEB应用的名字 -->
    <display-name></display-name>
    <!-- 声明WEB应用的描述信息 -->
    <description></description>
    <!-- 声明应用全局的初始化参数 -->
    <context-param></context-param>
    <!-- 声明监听器，它在建立、修改和删除会话或servlet环境时得到事件通知 -->
    <listener></listener>
    <!-- 声明一个实现javax.servlet.Filter接口的类 -->
    <filter></filter>
    <!-- 声明过滤器的拦截路径 -->
    <filter-mapping></filter-mapping>
    <!-- session有关的配置，超时值 -->
    <session-config></session-config>
    <!-- 在返回特定HTTP状态代码时，或者特定类型的异常被抛出时，能够制定将要显示的页面 -->
    <error-page></error-page>

    <servlet>
        <servlet-name>minisMVC</servlet-name>
        <!-- 指定Servlet对应类，也是Web程序的核心代码 -->
        <servlet-class>com.alatai.mini.web.DispatcherServlet</servlet-class>
        <init-param>
            <!-- 初始化配置文件地址，表示所有的配置参数都由这里引入 -->
            <!-- contextConfigLocation：它配置了控制器要找的逻辑 -->
            <!-- 处理类的文件minisMVC-servlet.xml -->
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/minisMVC-servlet.xml</param-value>
        </init-param>
        <!-- 启动加载优先度 -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <!-- servlet自定义名称，请求拦截与映射匹配 -->
        <servlet-name>minisMVC</servlet-name>
        <!-- url，当前表示拦截所有URL -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>